@model GameRecordApplication_v3.Models.BilliardMatch

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete this match?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BilliardGameMode.BilliardGameModeName)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BilliardGameType.BilliardGameTypeName)
        </dd>

        <dt>
            Winner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerWin.Name)
        </dd>

        <dt>
            Loser
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerLose.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.WinnerWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoserWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoserWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "Home")
        </div>
    }
</div>
